.board-row {
    display: flex;
    flex-direction: row;
    height: 12.5%;
}

.square {
    width: 12.5%;
}

.full {
    height: 90vmin;
    width: 90vmin;
}

.medium {
    height: 50vmin;
    width: 50vmin;
}

.small {
    height: 30vmin;
    width: 30vmin;
}

.white {
    background-color: wheat;
}
.black {
    background-color: burlywood
}

.selected {
    background-color: rgba(70,255,120,1)
}
.black.selected{
    background-color: rgba(70,255,120,.5);
}

.legalMove {
    background-color: rgba(70,255,120,1)
}

.black.legalMove{
    background-color: rgba(70,255,120,.5);
}