.full {
    height: 90vh;
    width: 90vh;
}

.small {
    height: 30vh;
    width: 30vh;
}

.board-row {
    display: flex;
    flex-direction: row;
    height: 12.5%;
}

.square {
    width: 12.5%;
}


.white {
    background-color: white;
}
.black {
    background-color: black;
}

.selected {
    background-color: rgba(70,255,120,1)
}
.black.selected{
    background-color: rgba(70,255,120,.5);
}

.legalMove {
    background-color: rgba(70,255,120,1)
}

.black.legalMove{
    background-color: rgba(70,255,120,.5);
}

.piece {
    padding: 10%;
    width: 80%;
    height: 80%;
}