.white-border {
    border: 6px solid white
}

.black-border {
    border: 6px solid black;
}

.board-row {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.square {
    width: 10vh;
}


.black {
    background-color: black;
}

.selected {
    background-color: mediumseagreen;
}

.legalMove {
    background-color: thistle;
}