.game {
    transition: 1s;
    min-width: 100vw;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game.white {
    background-color: #CCDDEE;
    color: black;
    border-color: #AABBCC;
}

.game.black {
    background-color: #554433;
    color: white;
    border-color: #332211;
}

.centered {
    margin: auto;
    width: 30vh;
}

.promotion-option {
    width: 25%;
    display: inline-block;
}

.half-column {
    width: 50%;
}

.width-25P {
    width: 25%;
}

button {
    height: 5vh;
    background-color: inherit;
    color: inherit;
    font-size: calc(10px + 2vmin);
    border: 3px solid;
    border-color: inherit;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

button.disabled {
    opacity: 0.0;
}
.column-flex {
    display:flex;
    flex-direction: column;
}

.row-flex {
    display:flex;
    flex-direction: row;
}
@media (min-aspect-ratio: 4/3) {
    .margin-left-5P-widescreen{
        margin-left: 5%;
    }
    .row-flex-widescreen {
        display:flex;
        flex-direction: row;
    }
}
@media (min-aspect-ratio: 1/1) {
    .full {
        height: 90vh;
        width: 90vh;
    }
    
    .small {
        height: 30vh;
        width: 30vh;
    }
}
@media (max-aspect-ratio: 1/1) {
    .full {
        height: 90vw;
        width: 90vw;
    }

    .small {
        height: 30vw;
        width: 30vw;
    }
}