.game {
    transition: 1s;
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    height: fit-content;
    padding-top: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game.white {
    background-color: #CCDDEE;
    color: black;
    border-color: #AABBCC;
}

.game.black {
    background-color: #554433;
    color: white;
    border-color: #332211;
}

.centered {
    margin: auto;
    width: 30vmin;
}

.promotion-option {
    width: 25vmin;
    display: inline-block;
}

.fit-content {
    width: fit-content;
}

.width-25P {
    width: 25%;
}

.width-50P {
    width: 50%;
}

.width-full {
    width: 100%;
}

button {
    height: calc(20px + 4vmin);
    background-color: inherit;
    font-size: calc(10px + 2vmin);
    color: inherit;
    border: 1px solid;
    border-color: inherit;
}

button:hover {
    opacity: 0.8;
    background-color: rgba(50,50,50,.2);
}

button:active {
    border-radius: 0px;
}

button.disabled {
    opacity: 0.0;
}

.column-flex {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.row-flex {
    display:flex;
    flex-direction: row;
}

@media (min-aspect-ratio: 4/3) {
    .margin-left-5P-widescreen{
        margin-left: 5%;
    }
    .row-flex-widescreen {
        display:flex;
        flex-direction: row;
    }
}