.game {
    transition: 1s;
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game.white {
    background-color: #CCDDEE;
    color: black;
    border-color: #AABBCC;
}

.game.black {
    background-color: #554433;
    color: white;
    border-color: #332211;
}

.centered {
    margin: auto;
    width: 30vh;
}

.promotion-option {
    width: 25%;
    display: inline-block;
}

.half-column {
    width: 50%;
}

.margin-left-5P{
    margin-left: 5%;
}

.width-25P {
    width: 25%;
}

button {
    height: 5vh;
    background-color: inherit;
    color: inherit;
    font-size: calc(10px + 2vmin);
    border: 3px solid;
    border-color: inherit;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

button.disabled {
    opacity: 0.0;
}

.row-flex {
    display:flex;
    flex-direction: row;
}
