.no-margins{
    margin: 0px;
}
.row-flex{
    display: flex;
    flex-direction: row;
}

.thin-border-top {
    border-top: 1px solid;
}

@media (min-aspect-ratio: 1/1) {
    .movelist {
        overflow: auto;
        height: 50vh;
    }
}
@media (max-aspect-ratio: 1/1) {
    .movelist {
        width: 90vw;
    }
}

.active {
    background-color: rgba(70,255,120,.5);
    border-radius: 3px;
}