.lobby {
    font-size: calc(10px + 3vmin);
    color: black;
}
input {
    height: 5vh;
    transition: 1s;
    font-size: calc(8px + 2vmin);
}

.message {
    margin-top: -6vh;
    height: 6vh;
}

.lobby-button {
    height: 6vh;
    background-color: inherit;
    color: inherit;
    font-size: calc(8px + 2vmin);
    transition: 1s;
    border: none;
}

.lobby-button:hover {
    opacity: 0.8;
    margin-right: -6px;
}

.lobby-button.disabled {
    opacity: 0.3;
}

.inactive {
    pointer-events: none;
    opacity: 0;
}

.lobby svg {
    height: calc(6vmin + 10px);
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    cursor: pointer;
}